<%- include("../../views/partials/admin/header") %>

<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Brands</h2>
      <p>Add, edit or delete a brand</p>
    </div>
    <div>
      <input type="text" placeholder="Search Brands" class="form-control bg-white">
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <form method="post" action="/admin/addbrand" enctype="multipart/form-data">
            <div class="mb-4">
              <label for="brand_name" class="form-label">Brand Name</label>
              <input
                type="text"
                name="name"
                placeholder="Type here"
                class="form-control"
                id="brand_name"
              />
            </div>
            <div class="mb-4">
              <label for="brand_image" class="form-label">Brand Image</label>
              <div class="input-upload">
                <img src="" alt="" id="preview" style="max-width: 100%; max-height: 150px;" />
                <input class="form-control border mt-2" name="image" type="file" onchange="previewImage(event)" />
              </div>
            </div>
            <div class="d-grid">
              <button class="btn btn-primary" type="submit">
                Add Brand
              </button>
            </div>
          </form>
        </div>

        <div class="col-md-9">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Brand</th>
                  <th>Logo</th>
                  <th>Status</th>
                  <th class="text-end">Action</th>
                </tr>
              </thead>
              <tbody>
                <%data.reverse().forEach((brand,index)=>{%>
                    <tr>
                        <td class="text-start"><%=brand.brandName%></td>
                        <td class="text-start">
                          <div class="d-flex align-items-center justify-content-center" style="width: 40px; height: 40px; border-radius: 50%; overflow: hidden;">
                            <img src="/uploads/re-image/<%=brand.brandImage%>" alt="<%=brand.brandName%>" class="img-fluid rounded-circle" style="width: 100%; height: auto;" />
                          </div>
                        </td>
                        <td class="text-start">
                            <%if(brand.isBlocked){%>
                                <span class="badge rounded-pill alert-danger" style="width: 60px">Blocked</span>
                            <%}else{%>
                                <span class="badge rounded-pill alert-success" style="width: 60px">Active</span>
                            <%}%>
                        </td>
                        <td class="text-end">
                            <%if(brand.isBlocked){%>
                                <button class="btn btn-success" style="width: 90px;">
                                    <a href="/admin/unblockbrand?id=<%=brand._id%>" class="text-white">Unblock</a>
                                  </button>
                            <%}else{%>
                                <button class="btn btn-danger" style="width: 90px;">
                                    <a href="/admin/blockbrand?id=<%=brand._id%>" class="text-white">Block</a>
                                  </button>
                            <%}%>
                          
                          
                          <button class="btn btn-danger" style="width: 90px;" >
                            <a href="/admin/deletebrand?id=<%=brand._id%>" class="text-white">Delete</a>
                          </button>
                        </td>
                      </tr>
                <%})%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination-container">
    <a href="#">&laquo; Previous</a>
    <span class="current-page">1</span>
    <a href="#">2</a>
    <a href="#">Next &raquo;</a>
  </div>
</section>

<script>
  function previewImage(event) {
    const reader = new FileReader();
    reader.onload = function () {
      const output = document.getElementById('preview');
      output.src = reader.result;
    };
    reader.readAsDataURL(event.target.files[0]);
  }
</script>

<%- include("../../views/partials/admin/footer") %>
